<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Add new post</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <form action="/posts" method="POST">
      <input placeholder="Enter your username" name="username" />
      <br /><br />
      <textarea
        name="content"
        cols="30"
        rows="10"
        placeholder="Please write some content here"
      ></textarea>
      <br />
      <button>Sumit post</button>
    </form>
  </body>
</html>
